<h2>勉強予定一覧</h2>

<%= month_calendar events: @studies do |date, studies| %>
  <%= date.day %>
  <% studies.each do |study| %>
    <div>
      <li>
        <%= link_to study.title, study_path(study.id) %>
      </li>
    </div>
  <% end %>
<% end %>



<%= form_with model: @study do |f| %>

  <%= render 'layouts/error_messages', model: f.object %>

  <label>タイトル</label>
  <%= f.text_field :title %>

  <label>勉強内容</label>
  <%= f.text_field :content %>

  <label>勉強開始時間</label>
  <%= f.datetime_select :start_time %>

  <%= f.submit '予定作成' ,class: "btn btn-success"%>
  
<% end %>