<h2>勉強予定一覧</h2>

<% @studies.each do |study| %>

  <p>タイトル</p>
  <%= link_to  study_path(study.id) do %>
    <% study.title %>
  <% end %>

  <p>内容</p>
  <%= study.content %>

  <p>日程</p>
  <%= l study.date %>
  
  <p>勉強開始時間</p>
  <%= l study.start_time %>

  <p>勉強終了時間</p>
  <%= l study.end_time %>

  <%= link_to "削除", study_path(study.id), method: :delete, class: "btn btn-sm btn-danger destroy_study_#{study.id}" %>

<% end %>

<%= month_calendar do |date| %>
  <%= date.day %>
<% end %>



<%= form_with model: @study do |f| %>

  <%= render 'layouts/error_messages', model: f.object %>

  <label>タイトル</label>
  <%= f.text_field :title %>

  <label>勉強内容</label>
  <%= f.text_field :content %>

  <label>日程</label>
  <%= f.date_field :date %>

  <label>勉強開始時間</label>
  <%= f.time_field :start_time %>

  <label>勉強終了時間</label>
  <%= f.time_field :end_time %>

  <%= f.submit '予定作成' ,class: "btn btn-success"%>
  
<% end %>