<h2>勉強予定詳細</h2>
<p>タイトル</p>
<%= @study.title %>

<p>内容</p>
<%= @study.content %>

<p>日程</p>
<%= @study.date %>

<p>勉強開始時間</p>
<%= @study.start_time %>

<p>勉強終了時間</p>
<%= @study.end_time %>

<%= link_to "編集", edit_study_path(@study.id), class: "btn btn-sm btn-success edit_study_#{@study.id}" %>
<%= link_to "削除", study_path(@study.id), method: :delete, class: "btn btn-sm btn-danger destroy_study_#{@study.id}" %>